<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<configSections>
		<section name="Usuarios" type="System.Configuration.NameValueSectionHandler"/>
		<section name="Productos" type="System.Configuration.NameValueSectionHandler"/>
		<section name="Compras" type="System.Configuration.NameValueSectionHandler"/>
		<section name="Calificaciones" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="ServerIpAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="5000"/>
		<add key="ImagePath" value="/Users/carmelasotuyo/Desktop/"/>
		<!--<add key="ImagePath" value="C:\Users\Usuario\Desktop"/>-->
	</appSettings>
	<Usuarios>
		<add key="Usuario1" value="carme,1234"/>
		<add key="Usuario2" value="fer,1234"/>
		<add key="Usuario3" value="nacho,1234"/>
	</Usuarios>

	<Productos>
		<add key="Producto1" value="Vaso,UnaDescEjemplo1,100,10,nacho"/>
		<add key="Producto2" value="Goma,UnaDescEjemplo2,200,2,carme"/>
		<add key="Producto3" value="Mate,UnaDescEjemplo3,400,3,fer"/>
		<add key="Producto4" value="Pato,UnaDescEjemplo4,500,4,nacho"/>
	</Productos>
	<Compras>
		<add key="Compra1" value="Vaso,carme"/>
		<add key="Compra2" value="Goma,fer"/>
		<add key="Compra3" value="Mate,nacho"/>
		<add key="Compra4" value="Pato,carme"/>
		<add key="Compra5" value="Vaso,fer"/>
		<add key="Compra6" value="Goma,nacho"/>
		<add key="Compra7" value="Mate,carme"/>
		<add key="Compra8" value="Pato,fer"/>
	</Compras>
	<Calificaciones>
		<add key="Calificacion1" value="Vaso,carme,5,tremendo"/>
		<add key="Calificacion2" value="Goma,fer,2,fea"/>
		<add key="Calificacion3" value="Mate,nacho,4,muy bueno"/>
		<add key="Calificacion4" value="Pato,carme,1,malisimo"/>
		<add key="Calificacion5" value="Vaso,fer,4,buenazo"/>
		<add key="Calificacion6" value="Goma,nacho,3,maomeno"/>
		<add key="Calificacion7" value="Mate,carme,2,se rompio"/>
		<add key="Calificacion8" value="Pato,fer,5,excelente"/>
	</Calificaciones>
</configuration>